<br>
<div class="container">
  <div class="row">
    <div class="col-md">
    </div>
    <div class="col-md">
      <h2>Employees</h2>
    </div>
    <div class="col-md">
      <div class="input-group">
        <input [(ngModel)]="searchTerm" placeholder="Search by Last Name..."/>
      <span class="input-group-btn">
        <app-search-modal [name]="searchTerm"></app-search-modal>
      </span>
    </div>
    </div>
  </div>
</div>
<div *ngIf="employees?.length > 0; else noemployeetemplate" class="table-size">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Position</th>
      <th scope="col">Date Hired</th>
      <th scope="col">Active</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td><a href="mailto:{{employee.emailAddress}}">{{employee.emailAddress}}</a></td>
      <td>({{employee.phoneNumber | slice:0:3}})-{{employee.phoneNumber | slice:3:6}}-{{employee.phoneNumber | slice:6:10}}</td>
      <td>{{employee.positionCategory}}</td>
      <td>{{employee.dateHired | date}}</td>
      <td>{{employee.active && 'Yes' || 'No'}}</td>
      <td class="button-row">
        <app-update-modal [id]="employee.id" (notifyTable)="updateEmployeeInTable($event)"></app-update-modal>
        <app-delete-modal [id]="employee.id" (notifyTable)="removeEmployeeFromTable($event)"></app-delete-modal>
       </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #noemployeetemplate>
  <br><br>
  <h5>There are no employees on record, try creating some using the button below!</h5>
</ng-template>
<br>
<app-new-modal (notifyTable)="addEmployeeToTable($event)"></app-new-modal>
