<button type="button" class="btn btn-primary" title="Update employee" (click)="openModal(template)">
  Update
</button>
<ng-template #template>
  <div class="modal-body text-center">
    <h5>Employee: {{employee.firstName}} {{employee.lastName}}</h5>
    <br>
    <form [formGroup]="updatedEmployeeForm">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <strong>First Name:</strong>
          </div>
          <div class="col-sm">
            <input id="firstName" type="text" class="form-control" name="firstName" formControlName="firstName"
                   required [(ngModel)]="employee.firstName" placeholder="First Name...">
            <div *ngIf="updatedEmployeeForm.controls['firstName'].errors && (updatedEmployeeForm.controls['firstName'].dirty || updatedEmployeeForm.controls['firstName']?.touched)" class="alert alert-danger">
              <div *ngIf="updatedEmployeeForm.controls['firstName'].errors.required">
                First name is required!
              </div>
            </div>
          </div>
          <div class="col-sm">
            <strong>Date Hired:</strong>
          </div>
          <div class="col-sm">
            <input type="text" id="dateHired" name="dateHired" class="form-control" placeholder="Date Hired..." required
                   formControlName="dateHired" [(ngModel)]="employee.dateHired" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
            <div *ngIf="updatedEmployeeForm.controls['dateHired'].errors && (updatedEmployeeForm.controls['dateHired'].dirty || updatedEmployeeForm.controls['dateHired']?.touched)" class="alert alert-danger">
              <div *ngIf="updatedEmployeeForm.controls['dateHired'].errors.required">
                Date hired is required!
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm">
            <strong>Last Name:</strong>
          </div>
          <div class="col-sm">
            <input id="lastName" name="lastName" class="form-control" required formControlName="lastName"
                   [(ngModel)]="employee.lastName" placeholder="Last Name...">
            <div *ngIf="updatedEmployeeForm.controls['lastName'].errors && (updatedEmployeeForm.controls['lastName'].dirty || updatedEmployeeForm.controls['lastName']?.touched)" class="alert alert-danger">
              <div *ngIf="updatedEmployeeForm.controls['lastName'].errors.required">
                Last Name is required!
              </div>
            </div>
          </div>
          <div class="col-sm">
            <strong>Address One:</strong>
          </div>
          <div class="col-sm">
            <input id="addressOne" name="addressOne" class="form-control" formControlName="addressOne"
                   [(ngModel)]="employee.addressOne" placeholder="Address One...">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm">
            <strong>Middle Initial:</strong>
          </div>
          <div class="col-sm">
            <input id="middleInt" name="middleInt" class="form-control" maxlength="1" formControlName="middleInt"
                   [(ngModel)]="employee.middleInitial" placeholder="Middle Initial...">
          </div>
          <div class="col-sm">
            <strong>Address Two:</strong>
          </div>
          <div class="col-sm">
            <input id="addressTwo" name="addressTwo" class="form-control" formControlName="addressTwo"
                   [(ngModel)]="employee.addressTwo" placeholder="Address Two...">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm">
            <strong>Email:</strong>
          </div>
          <div class="col-sm">
            <input id="email" name="email" class="form-control" required email type="email" formControlName="email"
                   [(ngModel)]="employee.emailAddress" placeholder="Email Address...">
            <div *ngIf="updatedEmployeeForm.controls['email'].errors && (updatedEmployeeForm.controls['email'].dirty || updatedEmployeeForm.controls['email']?.touched)" class="alert alert-danger">
              <div *ngIf="updatedEmployeeForm.controls['email'].errors.required">
                Email is required!
              </div>
              <div *ngIf="updatedEmployeeForm.controls['email'].errors.email">
                Email is invalid!
              </div>
            </div>
          </div>
          <div class="col-sm">
            <strong>City:</strong>
          </div>
          <div class="col-sm">
            <input id="city" name="city" class="form-control" formControlName="city"
                   [(ngModel)]="employee.city" placeholder="City...">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm">
            <strong>Phone:</strong>
          </div>
          <div class="col-sm">
            <input id="phone" name="phone" class="form-control" type="text" formControlName="phone"
                   [(ngModel)]="employee.phoneNumber" placeholder="Phone Number..."
                   oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==11 && event.keyCode!=8) return false;">
          </div>
          <div class="col-sm">
            <strong>State:</strong>
          </div>
          <div class="col-sm">
            <select [(ngModel)]="employee.state" id="state" formControlName="state">
              <option *ngFor="let state of states" [value]="state">{{state}}</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm">
            <strong>Position:</strong>
          </div>
          <div class="col-sm">
            <select [(ngModel)]="employee.positionCategory" id="category" formControlName="position">
              <option *ngFor="let position of positions" [value]="position">{{position}}</option>
            </select>
          </div>
          <div class="col-sm">
            <strong>Zip Code:</strong>
          </div>
          <div class="col-sm">
            <input id="zipCode" name="zipCode" class="form-control" formControlName="zipCode"
                   [(ngModel)]="employee.zipCode" placeholder="Zip Code"
                   type="number" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" onKeyDown="if(this.value.length==5 && event.keyCode!=8) return false;">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm">
          </div>
          <div class="col-sm">
          </div>
          <div class="col-sm">
            <strong>Active:</strong>
          </div>
          <div class="col-sm">
            <select [(ngModel)]="employee.active" id="active" required formControlName="active">
              <option [value]="true">True</option>
              <option [value]="false">False</option>
            </select>
            <div *ngIf="updatedEmployeeForm.controls['active'].errors && (updatedEmployeeForm.controls['active'].dirty || updatedEmployeeForm.controls['active']?.touched)" class="alert alert-danger">
              <div *ngIf="updatedEmployeeForm.controls['active'].errors.required">
                Active choice is required!
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <button type="submit" class="btn btn-success" [disabled]="!updatedEmployeeForm.valid" (click)="onSubmit()" title="Update Employee">Update {{employee.firstName}}</button>
      <button type="button" class="btn btn-danger" (click)="cancel()" title="Cancel">Cancel</button>
    </form>
  </div>
</ng-template>
